* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainClock {
  margin: 0 auto 3em auto;
}
.noShiftAlert {
  width: max-content;
  margin: 10em auto;
  box-shadow: black 0 15px 20px 10px;
  border: 1px solid black;
}
@media screen and (max-width: 900px) {
  .mainClock {
    margin: 0 auto 3em auto;
    overflow: hidden;
  }
}
