* {
  -ms-overflow-style: none;
}

.mainShifts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  transition: all 500ms ease-in-out;
}

.noShiftAlert {
  width: max-content;
  margin: 10em auto;
  box-shadow: black 0 15px 20px 10px !important;
  border: 1px solid black !important;
}
