* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.background {
  background-image: url("./layered12.svg");
  aspect-ratio: 900/600;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainSettings {
  display: flex;
  width: 60vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 500ms ease-in-out;
}
.mainSettings:hover h1::after {
  transform: scale(1);
}
