.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
}
.header h1 {
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3em;
}

.errorContainer {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.errorContainer .header h1 {
  color: white;
}
.errorContainer h3 {
  color: white;
  margin: 1.5em 0 0 0;
}

.navLink {
  font-size: 1.5em;
  font-weight: 200;
}

/* .ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  margin: 1em;
  border: 1px solid black;
  width: 70rem;
  height: 3rem;
  background-color: #72b74aba;
  border-radius: 3em;
}
.ul li {
  font-size: 1.3em;
  font-weight: 450;
}
.liStart {
  margin-right: 15em;
}
.liEnd {
  margin-right: 10em;
}
.liTime {
  margin-right: 4em;
}
.liProfit {
  padding-left: 3em;
}
 */
