* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.clock h1,
.clock h3,
.clock p {
  color: white;
}
.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8em;
  height: 12rem;
  width: 12rem;
  box-shadow: inset 0 0px 10px rgba(0, 0, 0.8);
  border: 3px solid black;
  border-radius: 50%;
  background-color: #1db954;
  cursor: pointer;
  transition: all 200ms ease-in-out !important;
}
.circlePlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: black 0 10px 60px 40px;
  padding: 9em;
  height: 16rem;
  width: 16rem;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #b91d1d;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out !important;
}
.circleContinue {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8em;
  height: 12rem;
  width: 12rem;
  border: 3px solid black;
  border-radius: 50%;
  background: linear-gradient(120deg, #ff8c00, #d5ff18);
  cursor: pointer;
  transition: all 200ms ease-in-out !important;
}

.circlePlay:hover .pause {
  transform: scale(1.5);
}
.play {
  font-size: 3em;
  position: absolute;
}
.pause {
  font-size: 3em;
  position: absolute;
}
.play,
.pause {
  transition: all 200ms ease-in-out;
}
.circleContinue:hover .play {
  transform: scale(1.5);
}
.circle:hover .play {
  transform: scale(1.5);
}

.stopWatch {
  position: absolute;
  bottom: 1.3em;
  font-size: 2em;
  font-weight: 500;
  font-family: tahoma;
}

.clockHeader {
  position: absolute;
  top: 2em;
  font-size: 1.5em;
  width: max-content;
}

@media screen and (max-width: 500px) {
  .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8em;
    box-shadow: inset 0 0px 10px rgba(0, 0, 0.8);
    border: 3px solid black;
    border-radius: 50%;
    background-color: #1db954;
    cursor: pointer;
    transition: all 200ms ease-in-out !important;
  }
  .circlePlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: black 0 10px 60px 40px;
    padding: 9em;
    border: 3px solid white;
    border-radius: 50%;
    background-color: linear-gradient(360deg, #003c8a, #1d66b9);
    color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out !important;
  }

  .circleContinue {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8em;
    border: 3px solid black;
    border-radius: 50%;
    background: linear-gradient(120deg, #ff8c00, #d5ff18);
    cursor: pointer;
    transition: all 200ms ease-in-out !important;
  }
}
