#startShift {
  box-shadow: inset black 0 10px 60px 40px;
  box-shadow: black 0 10px 60px 40px;
  overflow: hidden !important;
  border: 3px solid black;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

#startShift::before {
  content: "";
  background: conic-gradient(transParent, #ffff);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: rotate 4s linear infinite;
}
#startShift::after {
  content: "Starting Shift...";
  background-color: #1db954;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: oblique;
  font-family: tahoma;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 3px;
}

#stoppingShift {
  box-shadow: inset black 0 10px 60px 40px;
  box-shadow: black 0 10px 60px 40px;
  overflow: hidden !important;
  border: 3px solid black;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

#stoppingShift::before {
  content: "";
  background: conic-gradient(transParent, #ffff);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: rotate 4s linear infinite;
}
#stoppingShift::after {
  content: "Stopping Shift...";
  background-color: #b91d1d;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: oblique;
  font-family: tahoma;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 3px;
}

#continueShift {
  box-shadow: inset black 0 10px 60px 40px;
  box-shadow: black 0 10px 60px 20px;
  overflow: hidden !important;
  border: 3px solid black;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

#continueShift::before {
  content: "";
  background: conic-gradient(transParent, #ffff);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: rotate 4s linear infinite;
}
#continueShift::after {
  content: "Continue Shift...";
  background: linear-gradient(120deg, #ff8c00, #d5ff18);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: oblique;
  font-family: tahoma;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 3px;
}

@keyframes rotate {
  from {
    opacity: 0.8;
    border-radius: 50% !important;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    border-radius: 50% !important;
    transform: rotate(360deg);
  }
}
