.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
}

.form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
input {
  width: 20rem;
}
.error {
  color: red;
}
