.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40rem;
  border: 1px solid black;
  height: 37rem;
  margin: 4rem auto;
  padding: 10em;
  box-shadow: 0 10px 100px #8888889e;
  transition: all 200ms ease-in-out;
}

form h1 {
  font-size: 3em;
}
form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.main:hover form h1::after {
  content: "";
  display: block;
  background: linear-gradient(120deg, #1d61b9, #1dacb9);
  height: 4px;
  width: 6em;
  transition: all 200ms ease-in-out;
}
.inputContainer {
  margin: 0.2em;
  width: 20rem;
}
input {
  padding: 0.4em;
  width: 13rem;
  border: 1px solid black;
}
.btn {
  width: 10rem;
  margin-top: 1em;
  padding: 0.3em;
  color: white;
  border: 3px solid black;

  background: linear-gradient(120deg, #1d61b9, #1dacb9);
  transition: all 200ms ease-in-out;
}
.btn:hover {
  background: linear-gradient(120deg, #093b7d, #0a838e);
  box-shadow: 0 10px 10px #8888889e;
}
.error {
  color: red;
  margin: 0;
  padding: 0;
}
