.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
  margin: 7.5em auto 2em auto;
  color: white;
}
.btn {
  font-size: 2em;
  cursor: pointer;
  color: white;
}
.btn:hover {
  transform: scale(1.5);
  transition: all 100ms ease-in;
}
