ul {
  list-style-type: none;
}
ul li {
  font-size: 1.3em;
  font-weight: 500;
}
span {
  font-size: 1.1em;
  font-weight: 350;
}
.btns {
  margin-top: 0.5em;
  cursor: pointer;
}
.btns:hover .trash {
  transition: all 250ms ease-in-out;
  transform: scale(1.3);
}
.trash {
  font-size: 1.5em;
}
